<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NodeJS Practice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    </head>
    <body>
        <img src="/images/error.png" class="img-fluid" style="width:50%;display:block;margin:3% auto;">
        {{{body}}}
    </body>
</html>