<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NodeJS Practice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="box-sizing:border-box;padding:1.5%;">
            <h1 class="text-center display-4">M.O.P. Simple Twitter Clone</h1>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {{#if user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
            {{/if}}               
            </ul>
            </nav>
            {{{body}}}
        </div>
    <script src="/scripts/jQuery.js"></script>
    <script src="/scripts/popper.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>    
    </body>
</html>